.slider {
    max-width: 1200px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #F35D06;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > .card {
    scroll-snap-align: start;
    min-width: 400px;
    padding: 1% 2%;
    margin: 2% 0 1% 10%;
    border-radius: 10px;
    color: #fff;
    background: #045175;
    transform-origin: center center;
    transition: transform 0.5s;
    position: relative;

    display: block;
}

.slides div > a {
    padding: 8px;
    border-radius: 25px;
    color: #fff;
    background: #F35D06;
    text-decoration: none;
  }

.slides div > a:hover {
    background: #921210;
}
