#content {
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: url('../../photos/beach-background.jpg');
    background-size: cover;
    background-position: center center;
    padding: 8%;
    height: 100%;
    height: auto;
    color: #fff;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    margin: 0 50px;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;

}
