.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../photos/beach-background.jpg');
    background-size: cover;
    background-position: center center;
    padding: 8%;
    color: #fff;
}

.logo {
    max-width: 250px;
    margin-bottom: 5%;
}
