.project {
    padding: 8%;
    color: #fff;
}

.project > a {
    margin-top: 2%;
}

.project-logo {
    text-align: center;
    max-width: 250px;
}

#pieflix {
    background: linear-gradient(rgba(243,93,6,.8), rgba(146, 18, 16,.8)),
                                url('../../../photos/pieflix-homepage.jpg');
    background-size: cover;
    background-position: center center;
}

#robinhoop {
    background: linear-gradient(rgba(0,49,92,.9), rgba(4, 81, 117,.9)),
                                url('../../../photos/robinhoop-homepage.jpg');
    background-size: cover;
    background-position: center center;
}

#vertical-explorer {
    background: linear-gradient(rgba(146, 18, 16,.8), rgba(243,93,6,.8)),
                                url('../../../photos/verticalExplorer-homepage.jpg');
    background-size: cover;
    background-position: top center;
}

#ask-meeple {
    background: linear-gradient(rgba(4, 81, 117,.9), rgba(0,49,92,.9)),
                                url('../../../photos/askMeeple-homepage.jpg');
    background-size: cover;
    background-position: center center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .project {
        text-align: center;
    }
  }
