#greeting {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background: linear-gradient(200deg, #921210, #F35D06);
}

.logo {
    max-width: 250px;
    margin-bottom: 2%;
}

#arrow ion-icon:hover {
    cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {

  }
