body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.25em;
}

h2, h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.4em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

.space.med {
  padding: 25px;
}

#arrow.icon-link {
  transition: .5s;
  width: 50px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 0 auto;
  font-size: 62px;
  color: #fff;
  background: transparent;
  animation: fadeInLeft 5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

a.icon-link:hover {
  transition: .5s;
  background-color: #F35D06;
}

.blue {
  color: #00315C;
}

.orange {
  color: #F35D06;
}
