* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: url('./photos/beach-background.jpg');
  background-size: cover;
  background-position: center center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}


h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

.space.med {
  padding: 25px;
}

#arrow.icon-link {
  transition: .5s;
  width: 50px;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 2px solid #fff;
  border-radius: 25px;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
  background: transparent;
  animation: fadeInLeft 5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

a.icon-link:hover {
  transition: .5s;
  background-color: #F35D06;
}

.blue {
  color: #00315C;
}

.orange {
  color: #F35D06;
}

#content {
  padding: 3%;
}
