#projects {
    grid-column-gap: 5%;
    padding: 1%;
    margin-bottom: 20px;
    color: #fff;
    background: #045175;
}

#projects h2 {
    text-align: center;
}

img.project-logo {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}
