#about {
    padding: 4%;
    min-width: 350px;
    width: 100%;
    background-color: #00315C;
    color: #fff;
}

#about img {
    margin: 0 auto;
    max-width: 200px;
    border: 2px solid #fff;
    border-radius: 150px;
}

#about p {
    text-align: left;
}
