#footer {
    background: linear-gradient(to left,#921210, #F35D06);
    color: #fff;
}

#footer p {
    text-align: center;
    padding: 1% 0;
    margin: 0 auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #footer p {
        padding: 1% 0 2%;
    }
  }
