#mobile {
    position: fixed;
    display: block;
    color: #fff;
    z-index: 9;
}

#mobile.open {
    border-bottom-right-radius: 30px;
    animation: backgroundFadeIn 2s;
    background: rgba(0,0,0,.9);
    padding: 1.5% 1.9% 1% 1%;
}

#mobile.closed {
    border-bottom-right-radius: 15px;
    animation: backgroundFadeIn 2s;
    background: rgba(0,0,0,.9);
    padding: 1.5% 1.9% 1% 1%;
}

.md.hydrated {
    font-size: 2em;
}

#mobile-menu a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 2% 4%;
    font-size: 1.25em;
}

#mobile-menu > a {
    display: block;
    text-align: left;
    transition: 1s;
    animation: fadeInBottom 1s;
}

@keyframes backgroundFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background: rgba(0,0,0,.9);
    }
}

@keyframes fadeInBottom {
    0% {
      opacity: 0;
      /* transform: translateY(-20px); */
    }
    100% {
      opacity: 1;
      /* transform: translateY(0px); */
    }
  }

/* #mobile-menu > a:nth-child(1) {
    animation-delay: 0.0s;
}

#mobile-menu > a:nth-child(2) {
    animation-delay: 0.5s;
}

#mobile-menu > a:nth-child(3) {
    animation-delay: 1.0s;
}

#mobile-menu > a:nth-child(4) {
    animation-delay: 1.5s;
}

#mobile-menu > a:nth-child(5) {
    animation-delay: 2.0s;
}

#mobile-menu > a:nth-child(6) {
    animation-delay: 2.5s;
} */
