#navbar {
    display: flex;
    justify-content: center;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 2%;
}

#navbar a:hover, #navbar a:active {
    color: #F35D06;
}
